body {
  background-color: black; }

.adBlock {
  background-color: black;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0; }

.fullScreen {
  max-width: 1680px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  @media screen and (max-width: 400px) {
    .fullScreen {
      height: 100%; } }
  @media screen and (min-width: 1300px) {
    .fullScreen {
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 401px) and (max-width: 700px) {
    .fullScreen {
      width: 100% !important; }
      .fullScreen .carro {
        background-size: 100% !important;
        background-position-x: 73% !important;
        background-position-y: 13% !important; } }
  .fullScreen header {
    height: 60px;
    border-bottom: 1px inset #3E72A3;
    background-color: #1F4777;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    .fullScreen header .logo {
      width: 12%;
      float: left;
      margin-left: 2%; }
      @media screen and (min-width: 401px) and (max-width: 700px) {
        .fullScreen header .logo {
          width: 30%; } }
    .fullScreen header .close {
      height: 100%;
      float: right;
      padding: 20px;
      opacity: 1; }
      .fullScreen header .close span {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1vw;
        font-weight: 100;
        color: #FFF;
        text-transform: uppercase; }
        @media screen and (min-width: 401px) and (max-width: 700px) {
          .fullScreen header .close span {
            font-size: 2vw; } }
      .fullScreen header .close .glyphicon {
        font-family: 'Glyphicons Halflings'; }
    @media screen and (max-width: 400px) {
      .fullScreen header .close span {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 3.5vw; }
      .fullScreen header .logo {
        width: 40%; }
      .fullScreen header .onDesktop {
        display: none; } }
  .fullScreen .content {
    overflow: hidden;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0; }
  .fullScreen .cta {
    width: 75%;
    height: 50%;
    padding: 5%;
    position: absolute;
    top: 0px;
    bottom: 38%;
    right: 0px;
    z-index: 3;
    display: none;
    /*		.cta-btn{
    			width: 25%;
    			height: 28%;
    			padding: 1%;
    			border-radius: 0;
    			float: right;
    			margin-left: 10px;
    			background-color: rgb(235, 10, 30);
    			font-size: 1.7vh;
    			text-transform: uppercase;
    			color: #FFF;
    			
    				&:hover{
    					background-color: #FFF;
    					color: rgb(235, 10, 30);
    				}	
    				
    				@media screen and (max-width: 400px){
    					width: 25%;
    					height: 10%;
    				}
    		}
    		
    		.input-group{
    			width: 50%;
    			display: flex;
    			display: -moz-box;
    			margin-top: 1.5%;
    			margin-left: 20vw;
    			margin-right: auto;
    			
    			@media screen and (max-width: 400px){
    				width: 90%;
    				display: block;
    				margin-left: auto;
    				
    				.form-control{
    					margin-top: 5px;
    					margin-left: 0;
    					@media screen and (max-width: 400px){
    						height: initial;
    					}
    				}
    				
    				.cta-btn{
    					margin-top: 5px;
    				}
    			}
    			
    		} 
    		
    		.form-control{
    			height: 28%;
    			font-size: 1.7vh;
    			border-radius: 0;
    			border: 1px solid #464646;
    			background-color: #000;
    			color: #FFF;
    			margin-left: 10px;
    			
    			&:hover{
    				border: 1px solid rgb(235, 10, 30);
    			}
    		} */ }
    @media screen and (max-width: 400px) {
      .fullScreen .cta {
        width: 100%;
        height: 100%;
        top: 7%;
        bottom: 12%; }
        .fullScreen .cta h3 {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 6vw !important;
          margin-top: 3%;
          margin-bottom: 3%; } }
    .fullScreen .cta .cta-title {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 130%;
      font-size: 2vw;
      font-weight: bold;
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
      color: #b0b0b0;
      position: absolute;
      top: 35%;
      left: 32%; }
      @media screen and (max-width: 400px) {
        .fullScreen .cta .cta-title {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 5.4vw !important;
          top: 5%;
          left: 19%; } }
    .fullScreen .cta h3 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 85%;
      font-size: 1vw;
      font-weight: bold;
      text-align: center;
      color: #FFF;
      margin-top: 1%;
      margin-bottom: 1%; }
    .fullScreen .cta .row {
      width: 75%;
      height: 20%;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 58%;
      left: 12%; }
      @media screen and (max-width: 400px) {
        .fullScreen .cta .row {
          width: 75%;
          height: 50%;
          top: 10%;
          left: 12%; } }
    .fullScreen .cta .form-control {
      width: 40%;
      height: 2vw;
      margin-right: 1%;
      padding: 1px 12px;
      border-radius: 0;
      border: 1px solid #464646;
      background-color: #000;
      color: #FFF; }
      .fullScreen .cta .form-control:hover {
        border: 1px solid #eb0a1e; }
      @media screen and (max-width: 400px) {
        .fullScreen .cta .form-control {
          width: 100%;
          height: 30%;
          margin-top: 3%; } }
      @media screen and (min-width: 500px) and (max-width: 1024px) {
        .fullScreen .cta .form-control {
          font-size: 1vw; } }
    .fullScreen .cta .cta-btn {
      width: 18%;
      height: 2vw;
      padding: 0.4%;
      border-radius: 0;
      float: initial;
      background-color: #eb0a1e;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 3vw;
      text-transform: uppercase;
      color: #FFF;
      overflow: hidden; }
      .fullScreen .cta .cta-btn:hover {
        background-color: #FFF;
        color: #eb0a1e; }
      @media screen and (max-width: 400px) {
        .fullScreen .cta .cta-btn {
          width: 25%;
          height: 20%;
          margin-top: 3%;
          float: right; } }
      @media screen and (min-width: 500px) and (max-width: 1024px) {
        .fullScreen .cta .cta-btn {
          font-size: 1vw; } }
  .fullScreen .mascara {
    width: 100%;
    height: 100%;
    background: url("../img/bg-car4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0; }
    @media screen and (max-width: 400px) {
      .fullScreen .mascara {
        background-position-y: 50%; } }
    .fullScreen .mascara .title {
      position: absolute;
      bottom: 20px;
      left: 60px; }
      .fullScreen .mascara .title h1 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 4vw;
        font-style: italic;
        text-transform: uppercase;
        margin: 0;
        color: #fff; }
      .fullScreen .mascara .title .red {
        color: #FD2237;
        font-weight: bold;
        margin-left: 40px; }
      @media screen and (max-width: 400px) {
        .fullScreen .mascara .title {
          text-align: center;
          top: 10%;
          left: 0;
          right: 0; }
          .fullScreen .mascara .title h1 {
            font-size: 6vw; }
          .fullScreen .mascara .title .red {
            margin: 0; } }
    .fullScreen .mascara .descricao {
      position: absolute;
      right: 20px;
      bottom: 20px;
      text-align: right; }
      .fullScreen .mascara .descricao h1 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 2vw;
        font-style: italic;
        font-weight: bold;
        color: #FD2237; }
        .fullScreen .mascara .descricao h1 i {
          color: #FFF; }
      .fullScreen .mascara .descricao h2 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.7vw;
        font-style: italic;
        color: #FFF; }
      .fullScreen .mascara .descricao .red {
        color: #FD2237; }
      .fullScreen .mascara .descricao h3 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.7vw;
        font-style: italic;
        color: #fff; }
      @media screen and (max-width: 400px) {
        .fullScreen .mascara .descricao {
          text-align: center;
          bottom: 15%;
          left: 0;
          right: 0; }
          .fullScreen .mascara .descricao h1 {
            font-size: 5vw; }
          .fullScreen .mascara .descricao h2 {
            font-size: 4vw; }
          .fullScreen .mascara .descricao h3 {
            font-size: 4vw; } }
  .fullScreen .head {
    height: 50%;
    background: url("../img/faixa.png");
    background-size: 101%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3; }
    .fullScreen .head .logo-lince {
      width: 15%;
      height: 35%;
      background: url("../img/lince.png");
      background-repeat: no-repeat;
      background-position: 0;
      background-size: 100%;
      position: absolute;
      top: 20%;
      left: 1%; }
      @media screen and (max-width: 400px) {
        .fullScreen .head .logo-lince {
          width: 30%;
          height: 35%;
          top: 55%;
          left: 2%; } }
  .fullScreen .carro {
    height: 70%;
    background: url("../img/sw4_branco.png");
    background-size: 113%;
    background-repeat: no-repeat !important;
    background-position-x: 2%;
    background-position-y: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; }
    @media screen and (max-width: 400px) {
      .fullScreen .carro {
        background-size: 230%;
        background-position-x: 73%;
        background-position-y: 80%; } }
    @media screen and (max-height: 590px) {
      .fullScreen .carro {
        background-size: 200%;
        background-position-x: 73%;
        background-position-y: 70%; } }
    @media screen and (max-height: 550px) {
      .fullScreen .carro {
        background-size: 187%;
        background-position-x: 73%;
        background-position-y: 67%; } }
    .fullScreen .carro .carroTitle {
      display: none;
      position: absolute;
      bottom: 27%;
      left: 1%; }
      @media screen and (max-width: 400px) {
        .fullScreen .carro .carroTitle {
          bottom: 23%; } }
      @media screen and (max-height: 570px) {
        .fullScreen .carro .carroTitle {
          bottom: 26%; } }
      .fullScreen .carro .carroTitle h1 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 110%;
        font-size: 1.2vw;
        font-style: italic;
        color: #FFF;
        /*color: #FD2237;*/ }
        .fullScreen .carro .carroTitle h1 span {
          font-family: "Source Sans Pro", sans-serif;
          color: #FD2237;
          font-weight: bold; }
        @media screen and (max-width: 400px) {
          .fullScreen .carro .carroTitle h1 {
            font-size: 4vw; } }
    .fullScreen .carro .cores {
      width: 50%;
      height: 18%;
      display: none;
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 3; }
      @media screen and (max-width: 400px) {
        .fullScreen .carro .cores {
          width: 100%;
          height: 8%;
          bottom: 64px; } }
      .fullScreen .carro .cores .cor {
        width: 15%;
        height: 100%;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-size: 100%; }
      .fullScreen .carro .cores .colorName {
        width: 100%;
        height: 20%;
        position: absolute;
        top: -17%;
        left: 0;
        text-align: left; }
        .fullScreen .carro .cores .colorName h1 {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 13px;
          font-size: 1.5vh;
          margin: 0;
          color: #FFF; }
          @media screen and (min-width: 500px) and (max-width: 1024px) {
            .fullScreen .carro .cores .colorName h1 {
              font-size: 9px;
              font-size: 1vw; } }
        @media screen and (max-width: 400px) {
          .fullScreen .carro .cores .colorName {
            display: none; } }
      .fullScreen .carro .cores .corhover {
        opacity: 0.5; }
    .fullScreen .carro .atitude {
      background: url("../img/miniaturas/sw4_miniAtitude.png"); }
    .fullScreen .carro .branco {
      background: url("../img/miniaturas/sw4_miniBranco.png"); }
    .fullScreen .carro .granito {
      background: url("../img/miniaturas/sw4_miniGranito.png"); }
    .fullScreen .carro .nevoa {
      background: url("../img/miniaturas/sw4_miniNevoa.png"); }
    .fullScreen .carro .polar {
      background: url("../img/miniaturas/sw4_miniPolar.png"); }
    .fullScreen .carro .urban {
      background: url("../img/miniaturas/sw4_miniUrban.png"); }
    .fullScreen .carro .logo {
      width: 30%;
      height: 30%;
      background: url("../img/logo_sw4.png");
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 35%;
      left: 20px;
      z-index: 3;
      display: none; }
      @media screen and (max-width: 400px) {
        .fullScreen .carro .logo {
          bottom: 10%; } }
      @media screen and (max-height: 570px) and (max-width: 400px) {
        .fullScreen .carro .logo {
          bottom: 15%; } }

/*# sourceMappingURL=fullScreen.css.map */
